/*
 * SPDX-FileCopyrightText: 2020 (C) Bjorn Erik Pedersen <bjorn.erik.pedersen@gmail.com>
 *
 * SPDX-License-Identifier: Apache-2.0
 */

// Breadcrumb

.breadcrumb {
	background: none;
	padding-left: 0;
	padding-top: 0;
}