/*
 * Copyright (C) 2017 Ken Vermette
 * SPDX-FileCopyrightText: 2020 (c) Carl Schwan <carl@carlschwan.eu>
 *
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

@media (prefers-color-scheme: dark) {
    #kPatrons {
        background-color: #eff0f1;
        h3 {
            color: #21262b !important;
        }
    }

    #donateAmountField, #donateSubmit, #kMetaStore .button {
        background-color: #31363b;
        color: #eff0f1 !important;

        &:focus, &:active, &:hover {
            background-color: #4d4d4d;
        }
    }

    .navbar-toggler:before {
        color: #eff0f1;
    }


    .statstable > * > tr > td,
    .tux-message-editor .editcolumn,
    .grid .tux-message-editor .infocolumn-block,
    table,
    body, .mw-pt-languages, .ext-translate-container .tux-messagelist .tux-message-pagemode .tux-message-item-compact, .uls-language-block > ul > li:hover, .ext-translate-container .tux-messagelist .tux-message-pagemode {
        background-color: #232629 !important;
        color: #eff0f1 !important;
    }

    .navbar .navbar-brand-text,
    #kFooterIncome, #kFooterIncome h3,
    #kDonateForm h3 a::before,
    #kDonateForm h3 a::after,
    .made-by-kde,
    .text-dark,
    .made-by-kde:before,
    .grid .tux-message-editor .messagekey,
    .navbar .navbar-collapse a, pre, .tux-messagelist .tux-message-pagemode .tux-pagemode-source, .tux-messagelist .tux-message-pagemode .tux-pagemode-translation, .tux-editor-header, .tux-statsbar-info, .ext-translate-language-selector-label, .contributionscores-title {
        color: #eff0f1 !important;
    }
    .dropdown-menu,
    .modal-content,
    .diff-context,
    #pagehistory li.selected,
    .tux-message-item,
    .mw-translate-fuzzy,
    .tm-suggestion, .in-other-language,
    .statstable > * > tr > th,
    .mw-highlight,
    .list-group-item,
    table tr:nth-child(2n+1),
    .lqt-post-wrapper .lqt_post_new_message,
    .mw-pt-languages-label, .card, footer, .lqt-post-wrapper, .ext-translate-container .tux-messagelist .tux-message-pagemode .tux-message-item-compact:hover, .uls-menu, .uls-search, .uls-lcd, .uls-languagefilter, .tux-action-bar, .contributionscores .header, table.wikitable > tr > th, table.wikitable > * > tr > th, .form-control {
        color: #eff0f1 !important;
        background-color: #31363b !important;
        background: #31363b !important;
    }
    a, .list-group-item > a{
        color: #a9dbff;
    }
    a:hover, .list-group-item:hover > a {
        color: #7daee9;
    }
    a.dropdown-item:hover {
        color: #16181b !important;
    }
    .tux-warning { color: black; }
    .tux-editor-request-right,
    .statstable > * > tr > td:nth-child(6)[data-sort-value="0.00000"],
    h1, h2, h3, h4, h5, h6, #kLegal, .lqt-thread-toolbar-timestamp, .lqt-thread-actions-icon, .page-info, .tux-breadcrumb, .tux-message-selector li a{
        color: #bdc3c7 !important;
    }
    .form-control {
        border: 1px solid #31363b;
    }

    .diff-addedline .diffchange,
    .diff-deletedline .diffchange {
        color: black;
    }

    pre.pre-input {
        background-color: #bdc3c7;
        color: black !important;
    }

    .alert-warning {
        border-color: #f67400;
        color: #eff0f1;
        background-color: rgba(246,116,0,0.2);
        background: rgba(246,116,0,0.2);
    }

    .alert-error {
        border-color: rgb(218,68,83);
        color: #eff0f1;
        background-color: rgba(218,68,83,0.2);
        background: rgba(218,68,83,0.2);
    }

    .alert-success, #kFooterIncome {
        background-color: #2f4e42 !important;
        background: #2f4e42 !important;
        color: #eff0f1 !important;
        border-color: #27ae60 !important;
    }

    .alert-info, #kWelcome {
        background-color: rgba(61,174,233, 0.2) !important;
        background: rgba(61,174,233, 0.2) !important;
        color: #eff0f1 !important;
        border-color: rgb(61,174,233) !important;
    }

    .icon-dark-invert img,
    img.icon-dark-invert,
    .alert-success img {
        filter: invert(1);
    }

    .mono-icon img {
        background-color: white;
    }

    .bg-light{
        background-color: #4d4d4d !important;
    }

    figcaption {
        color: #cdcdcd;
    }

    span[style^="color:#204a87;"] {
        color: #4a97ff !important;
    }
    span[style^="color:#8f5902;"] {
        color: #d78808 !important;
    }
    span[style^="color:#4e9a06"] {
        color: #77ee06 !important;
    }

}

